<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/base.css' %}">
    <script src="https://kit.fontawesome.com/c1ac6bf80b.js"></script>
            <link rel="stylesheet" href="{% static 'dist/sortable.min.css'%}">
            <script src="{% static 'dist/sortable.min.js'%}"></script>
            
{% block css %}{% endblock css %}

    

</head>
<body>
    <!--固定顶部导航栏-->
<div class="fixed-top mb-auto">
    <nav class="navbar navbar-expand-lg ">
            <div class = "container">
                    <a class="navbar-brand" href="{% url 'article:article_list' %}">
                        <i class="fas fa-lemon"></i> LemonForum
                    </a>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'article:article_list' %}" class="nav-link">首页</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'article:article_list' %}" class="nav-link">发现</a><!--后期再补-->
                        </li>
                    </ul>
                </div>
        
                    <ul class = "navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'article:article_create' %}">
                                        <span>
                                            <i class = "fas fa-edit"></i>
                                        </span>
                                        发帖
                                    </a>
                            </li>
        
                            
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }} &nbsp;&nbsp;
                                     <img src="/media/avatar/{{user.username}}" style="width: 25px; height:25px;border-radius: 50%;" class="small">
                                    {% comment %} 
                                    {% if not profile.avatar %}
                                    <img src="/media/avatar/default.jpg" style="width: 25px;height:25px; border-radius: 50%;" class="small">
                        
                                    {% else %}
                                    <img src="{{ profile.avatar.url }}" style="width: 25px; height:25px;border-radius: 50%;" class="small">
                                    {%endif%} {% endcomment %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href='{% url "userprofile:edit" user.id %}'>个人信息</a>
                                    <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                                </div>
                            </li>
                            
                    
                        {% else %}
        
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'userprofile:register' %}">注册</a>
                            </li>        
                        {% endif %}
                    </ul>
                    <button class="navbar-toggler"  data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span style = "color: white">
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
            </div>
        </nav>
        {% block childnavbar %}{% endblock childnavbar %}
    </div>
    <!--导航栏fixed-top后无法margin，直接br换行-->
    <div>
        <br><br><br><br>
    </div>

        
        {% if user.is_authenticated %}
            <script>
                function user_delete() {
                    layer.open(
                        {
                            title:'确认删除?',
                            content:'确认删除用户资料吗?' +"<br>"+
                                '删除后无法使用此账户!',
                            yes:function (index, layero) {
                                location.href='{% url 'userprofile:delete' user.id %}'
        
                            }
                        }
                    )
                }
            </script>
            
            
        {% endif %}
    {% block content %}{% endblock content %}
    <script src = "{% static 'jquery/jquery-3.3.1.js' %}"></script>
    <script src = "{% static 'popper/popper-1.14.4.js' %}"></script>
    <script src = "{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src = "{% static 'layer/layer.js' %}"></script>
    <script>

            document.querySelector('#sortable').sortablejs()
            
            </script>
</body>
</html>