{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
LemonForum-{{ article.title }}
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'mycss/detail.css' %}">

{% endblock css%}

{% block content %}
<div class="container">
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}

<div class="d-flex justify-content-center">
    <div class="articleblock px-5 py-5">
        <div class = "d-flex justify-content-between">
            <h2 class="ml-2">{{ article.title }}</h2>
            <div class="mr-2">
                    <div class="media">
                            <div class="media-body">
                                <h4 class="mt-2 ml-4">{{ article.author }}</h4>
                            </div>
                            <img src="/media/avatar/{{article.author}}" alt="" class="align-self-center ml-4" style="width: 50px;height:50px; border-radius: 50%;">
                    </div>
            </div>

        </div>
        <div class="mx-2 my-5">
            <p>{{ article.body|safe }}</p>
        </div>
        <!--下标-->
        <div>
            <div class="d-flex justify-content-between" style="color:gray">
                <div class="d-flex justify-content-start">
                        <div class="ml-2">
                                <span class="mr-2">
                                    <i class="fas fa-tag"></i>
                                </span>
                                {{ article.catagory}}
                        </div>
                </div>
                <div class="d-flex justify-content-end" style="color:gray">
                        <div class="ml-5">
                            <span class="mr-2">
                                <i class="fas fa-comment"></i>
                            </span>
                            {{ comments.count }}
                        </div>
                        <div class="ml-5 mr-3">
                            <span class="mr-2">
                                <i class="fas fa-fire"></i>
                            </span>
                            {{ article.total_views }}
                        </div>
        
        
                    </div>
            </div>
            
        </div>


    </div>
</div>
{% if user.is_authenticated %}
<div class="d-flex justify-content-center mt-2">
        <div class="articleblock px-5 py-3">
            <div class = "d-flex justify-content-between">
                    <form method="POST" action="{% url 'comment:post_comment' article.id %}">
                            {% csrf_token %}
                            <div class="from-group">
                                <label for="body"></label>
                                <textarea
                                type="text"
                                class="form-control"
                                id="body"
                                name="body"
                                rows="1"></textarea>
                            </div>
                            <!--提交-->
                            <div style="margin-top: 5px"><button type="submit" class="btn btn-primary">发送</button></div>
                            
                    </form>
            </div>
        </div>
</div>

{% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'userprofile:login' %}">登录</a>后回复
            </h5>
        {% endif %}
        <!--显示评论-->
        <div>
            {% for comment in comments %}
                <hr>
                <p>
                    <img src="{{comment.user_avatar.url}}" style="max-width: 30px; border-radius: 50%;" class="small">

                    <strong style="color: pink">
                        {{ comment.user }}
                    </strong>
                    <span style="color: greenyellow;">
                        {{ comment.created|date:"Y-m-d H:i:s" }}
                    </span>时说：
                </p>
                <pre style="font-family: inherit; font-size: 1em">
                {{ comment.body }}
                </pre>
            {% endfor %}
        </div>
    </div>
    </div>
</div>

<script>
{#"onclick="confirm_delete()"#}
    function confirm_delete() {
        layer.open(
            {
                title:'确认删除',
                content: '确认删除这篇文章么？',
                yes:function (index, layero) {
                    location.href='{% url "article:article_delete" article.id %}'
                }
            }
        )
    }
</script>

{% endblock content %}






