<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html"%}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'mycss/articlelist.css' %}">

{% endblock css%}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}
{% block childnavbar %}
<ul class="sortable__nav nav">
    <li>
      <a data-sjslink="all" class="nav__link ">
        全部
      </a>
    </li>
    <li>
      <a class="nav__link" href="/?page=1&category='动漫'">
        动漫
      </a>
    </li>
    <li>
        <a  class="nav__link" href="/?page=1&category='体育'">
          体育
        </a>
    </li>
</ul>
{% endblock childnavbar %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="container">
      <div class="wrapper">        
        <div id="sortable" class="sjs-default">
        {% for article in articles %}
          <div data-sjsel='all'>
            <a href="{% url 'article:article_detail' article.id %}" class=" myreadcard" >
              <div class="card">
              
                  <img class="card__picture" src='{{article.content_img}}' alt="" >
                  <div class="card-infos">
                    <h4 class="card__title">{{ article.title }}</h4>
                    <!--<p class="card__text" onload = "this.innerHTML = getSimpleText({{ article.body }}) + '...'"  >             
                    </p>-->
                    <p class="card__text " name = "origin">
                      {{article.brief}}          
                    </p>
                    <div class="text-right small" style="color: gray;">
                        <span>
                          <i class="fas fa-fire">
                          </i>
                        </span>
                        {{ article.total_views }}
                    </div>
                  </div>
              </div>
          </a>
          </div>
        {% endfor %}
          
        </div>
      </div>
    </div>


<!-- 页码导航 -->
<div class="pagination justify-content-center">
    <div class="m-auto ">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="/?page=1&order={{ order }}&search={{ search }}" class="btn btn-success">
                    &laquo; 首页
                </a>
                <span>...</span>
                <a href="/?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}"
                   class="btn btn-secondary"
                >
                    上一页
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="/?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}"
                   class="btn btn-secondary"
                >
                    下一页
                </a>
                <span>...</span>
                <a href="/?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}"
                   class="btn btn-success"
                >
                    末页 ({{ articles.paginator.num_pages }}) &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>{% endblock content %}

<script>
function getSimpleText(html){
        var re1 = new RegExp("<.+?>","g");//匹配html标签的正则表达式，"g"是搜索匹配多个符合的内容
        var msg = html.replace(re1,'');//执行替换成空字符
        return msg;
        }
</script>

