{% extends "base.html" %} {% load staticfiles %}
{% block title %}登录{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12" >
                {% if messages %}
                    <script>
                        {% for msg in messages %}
                            alert('{{ msg.message }}');
                        {% endfor %}
                    </script>
                {% endif %}

                <br>
                <h5>还没有账号？</h5>
                <h5>点击<a href='{% url "userprofile:register" %}'>注册账号</a>加入我们吧！</h5>
                <br>
                <form action="." method="post">
                    {% csrf_token %}

                <!--账号-->
                <h2 class="text-center">欢迎登录</h2>
                <div class="form-group">
                    {{ user_login_form.username.label_tag }}
                    {{ user_login_form.username}}
                </div>
                <div class="form-group">
                    {{ user_login_form.password.label_tag }}
                    {{ user_login_form.password }}
                </div>

                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>

                </form>
            </div>
        </div>
    </div>


{% endblock content %}